@{
    ViewData["Title"] = "Admin";
}

<div class="unit">

    <div class="left-half">
        <h2>@ViewData["Title"]</h2>
        <h3>@ViewData["Message"]</h3>
        <p>Admin Links</p>
        @Html.ActionLink("Student Sign In Page", "StSignIn")
    </div>

    <div class="right-half">
        <p>Attendance stuff</p>
        <img src="~/images/graph.svg" alt="Sample Photo" />
    </div>

</div>