@model EverPresent.Models.ContactModel




<p class="contactP">Reference Number: @Model.Id</p>
<h4 class="contactH4">Thanks for the message @Model.Name .</h4>
<h4 class="contactH4">We will do our best to respond quickly.</h4>
<h5 class="contactH5">Message: @Model.Message</h5>
<p class="contactPBottom">A response will be emailed to: @Model.Email</p>