@{
                /**/

                ViewData["Title"] = "Home Page";
                Layout = "~/Views/Shared/_Layout.cshtml";
}


<img src="~/image/ep logo2.png" style="width:40%"/>
<h1>Welcome to EverPresent</h1>
