@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<a style="opacity:75" href="~/Admin/Index">Admin</a>
<a style="opacity:75" href="~/Student/Index">Student</a>
<a style="opacity:75" href="~/Roster/Index">Roster</a>

<h2>Welcome to EverPresent!</h2>
<div class="img-wrapper">
    <img class="img-responsive" src="~/image/sing_in.jpg">
    </div>
</div>