@{
                /**/

                ViewData["Title"] = "Home Page";
                Layout = "~/Views/Shared/_Layout.cshtml";
}


<img src="~/image/ep logo2.png" style="width:40%; display: block;margin-left: auto; block;margin-right: auto;"/>
<h2>Welcome to EverPresent</h2>


