@{
    ViewData["Title"] = "Home Page";
}

<div class="img-wrapper">
    <img class="img-responsive" src="~/image/sing_in.jpg">
    <div class="img-overlay">
        <div class="btn-group">
            <a style="opacity:0" href="~/Admin/Index">Admin</a>
            <a style="opacity:0" href="~/Student/Index">Student</a>
            <a style="opacity:0" href="~/Roster/Index">Roster</a>
        </div>
    </div>
</div>