@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<nav class="navbar-ep navbar-inverse-ep">
    <div class="container-fluid2">
        <div class="navbar-header">
            <p class="navbar-brand-ep"> EverPresent</p>
        </div>
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Admin", "Index", "Admin")</li>
            <li>@Html.ActionLink("Student", "Index", "Student")</li>
            <li>@Html.ActionLink("Roster", "Index", "Roster")</li>
        </ul>

<div class="img-wrapper">
    <img class="img-responsive" src="~/image/sing_in.png">
</div>
</div>