@{
    ViewData["Title"] = "Home Page";
}

<div>

    <h2>Roster</h2>
    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <br>
                        <br>
                        <br>
                    </div>
                    <div class="panel-heading"><h5>Student 1</h5></div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <br>
                        <br>
                        <br>
                    </div>
                    <div class="panel-heading"><h5>Student 2</h5></div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <br>
                        <br>
                        <br>
                    </div>
                    <div class="panel-heading"><h5>Student 3</h5></div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <br>
                        <br>
                        <br>
                    </div>
                    <div class="panel-heading"><h5>Student 4</h5></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <br>
                        <br>
                        <br>
                    </div>
                    <div class="panel-heading"><h5>Student 5</h5></div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <br>
                        <br>
                        <br>
                    </div>
                    <div class="panel-heading"><h5>Student 6</h5></div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <br>
                        <br>
                        <br>
                    </div>
                    <div class="panel-heading"><h5>Student 7</h5></div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <br>
                        <br>
                        <br>
                    </div>
                    <div class="panel-heading"><h5>Student 8</h5></div>
                </div>
            </div>
        </div>
    </div>
