
@{
    ViewData["Title"] = "Home Page";
}


<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-2">
            <div class="specialButton">
                <img src="~/image/game.svg" alt="Avatar" class="image" style="width:100%">
                <div class="middle">
                    <div class="text">Andrew Smith</div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="specialButton">
                <a href="~/Home/Index">
                    <img src="~/image/pokemon-6.svg" alt="Avatar" class="image" style="width:100%">
                    <div class="middle">
                        <div class="text">Marry Jane</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-2">
            <div class="specialButton">
                <a href="~/Home/Index">
                    <img src="~/image/game.svg" alt="Avatar" class="image" style="width:100%">
                    <div class="middle">
                        <div class="text">James</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-2">
            <div class="specialButton">
                <a href="~/Home/Index">
                    <img src="~/image/pokemon-6.svg" alt="Avatar" class="image" style="width:100%">
                    <div class="middle">
                        <div class="text">Joe</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-2">
            <div class="specialB">
                <a href="~/Home/Index">
                    <img src="~/image/game.svg" alt="Avatar" class="image" style="width:100%">
                    <div class="middle">
                        <div class="text">Julia</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-2">
            <div class="specialButton">
                <a href="~/Home/Index">
                    <img src="~/image/pokemon-6.svg" alt="Avatar" class="image" style="width:100%">
                    <div class="middle">
                        <div class="text">Janice</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-2">
            <div class="specialButton">
                <a href="~/Home/Index">
                    <img src="~/image/game.svg" alt="Avatar" class="image" style="width:100%">
                    <div class="middle">
                        <div class="text">Chris</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-2">
            <div class="specialButton">
                <a href="~/Home/Index">
                    <img src="~/image/pokemon-6.svg" alt="Avatar" class="image" style="width:100%">
                    <div class="middle">
                        <div class="text">Lily</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-2 col-md-offset-5">
        <div class="col-md-2 col-md-offset-5"></div>Time @DateTime.Now.ToString(@"HH\:mm\:ss tt")
        @Html.ActionLink("AddStudent", "AddStudent", "Roster", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn btn-default" })
        @Html.ActionLink("Logout", "Index", "Home", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn btn-default" })
    </div>