
@{
    ViewBag.Title = "Attendance";
}

<h2>My Mogwai Reports...instead of Attendance Reports</h2>

<div class="container">
    <div class="row">
        <h3>My Current Tokens: 180</h3>
        <br />
        <div class="col-md-8">
            <div class="well">
                <h3>Token Account History</h3>
                <img src="~/image/BankAccountSimple.png" height="516" width="712" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="well">
                <h3>Mogwai Purchased by Month</h3>
                <img src="~/image/MogwaiBuyChart.png" height="516" width="712" />
            </div>
        </div>
    </div>
</div>