@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

<p>
    <br />Student Login
    <br /> My attendance
</p>
<img src="~/images/stGraph.svg" alt="Sample Photo" />