<!--
@{
  //  ViewData["Title"] = "Home Page";
  // Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

<p>
    <br />Student Login
    <br /> My attendance
</p>
<img src="~/image/stGraph.svg" alt="Sample Photo" />
-->
<img src="~/image/Student_Landing.png" alt="Student Landing" />