
@{
    ViewBag.Title = "MogwaiReports";
}


<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>My Mogwai Reports</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <h4>Current Tokens: 1200</h4>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="well">
                <h3>Aegir Family Collection</h3>
                <img src="~/image/AegirFamilyPieChart.png" class="img-responsive"/>
            </div>
        </div>
        <div class="col-md-4">
            <div class="well">
                <h3>Odin Family Collection</h3>
                <img src="~/image/OdinFamilyPieChart.png" class="img-responsive" />
            </div>
        </div>        
        <div class="col-md-4">
            <div class="well">
                <h3>Tyr Family Collection</h3>
                <img src="~/image/TyrFamilyPieChart.png" class="img-responsive" />
            </div>
        </div>
    </div>
    <div class="row">
        <br />
        <div class="col-md-8">
            <div class="well">
                <h3>Token Account History</h3>
                <img src="~/image/BankAccountSimple1200Tokens.png" class="img-responsive" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="well">
                <h3>Mogwai Purchased by Month</h3>
                <img src="~/image/MogwaiBuyChart.png" class="img-responsive" />
            </div>
        </div>
    </div>
</div>