
@{
    ViewBag.Title = "Mogwai";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h4>Mogwai Earned Today...</h4>
            <img src="~/image/avatar4.png" alt="Loki" height="75" width="75" />
            <b>Loki</b>
        </div>
        <div class="col-md-3 col-md-offset-6">
            <h4>Current Tokens: 100</h4>
        </div>
    </div>
</div>



<h2>My Mogwai Collection</h2>
<div class="bs-example">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Carousel indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>
        <!-- Wrapper for carousel items -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="~/image/pokemon-6.svg" alt="First Slide" height="300">
            </div>
            <div class="item">
                <img src="~/image/pokemon_duck.svg" alt="Second Slide" height="300">
            </div>
            <div class="item">
                <img src="~/image/pokemon_bee.svg" alt="Third Slide" height="300">
            </div>
            <div class="item">
                <img src="~/image/pokemon_old_guy.svg" alt="Third Slide" height="300">
            </div>
        </div>
        <!-- Carousel controls -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
</div>