body {
    padding-top: 0px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Font for h2, h3, and h4 tags */
h2, h3, h4 {
    font-family: 'Nunito', sans-serif;
}

/* Font for Mogwai collection view, non-headers */
.mogwai-info {
    font-family: 'Nunito', sans-serif;
}

/* Student/Index header avatar */
.studentIndexAvatar {
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
}

/* Student/Index header avatar hover*/
.studentIndexAvatar:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

/* Mogwai image size small*/
.mogwaiSizeSmall {
    height: 100px;
    width: 75px;
}

/* Mogwai image size medium */
.mogwaiSizeMedium {
    height: 120px;
    width: 80px;
}

/* Mogwai Image Medium Grayscaling */
.mogwaiMediumGrayscale {
    height: 120px;
    width: 80px;
    filter: grayscale(100%);
}

/* Dark bootstrap button */
.btn-dark {
    color: #ffffff;
    background-color: #333;
    border-color: #333;
}

    .btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary.active, .open .dropdown-toggle.btn-secondary {
        color: #ffffff;
        background-color: #444;
        border-color: #555;
    }