@{
    ViewData["Title"] = "Sign In";
}

<div class="background">
    <br />
    <button type="button">Studnet 1</button>     <br />
    <button type="button">Studnet 2</button>     <br />
    <button type="button">Studnet 3</button>
</div>
