
@{
    ViewBag.Title = "Andrew";
}


<img src="~/image/Admin_Student_View - Copy.png" alt="Andrew Smith's Page" width="700" height="600" />

<div class="col-md-2 col-md-offset-5" display="inline">
    @Html.ActionLink("GENERATE REPORT", "GenerateReports", "Admin", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn btn-default" })
</div>