
@{
    ViewBag.Title = "Calendar";
}

<div class="calendar_div" >
    <h2 class="calendar_h2">School Calendar</h2>
    <iframe src="https://calendar.google.com/calendar/embed?title=Middle%20College&amp;showTitle=0&amp;showPrint=0&amp;showCalendars=0&amp;showTz=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23999999&amp;src=g692kkkicuib1h345hp43732i4%40group.calendar.google.com&amp;color=%230a2b0e&amp;ctz=America%2FLos_Angeles" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    <figcaption class="calendar_figCaption">
        <a href="https://calendar.google.com/calendar/ical/g692kkkicuib1h345hp43732i4%40group.calendar.google.com/public/basic.ics">edit</a>
    </figcaption>
</div>