
@{
    ViewBag.Title = "GenerateReports";
}

<h2>Reports For Andrew</h2>

<img src="~/image/Attendance_vs_avg.png" alt="attendance avg" />
<img src="~/image/avg_attendance.png" alt="avg attendnace" />
<img src="~/image/On_time.png" alt="on time attendance" />



