
@{
    ViewBag.Title = "InactiveStudents";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}


<h1>Inactive Students</h1>
<img src="~/image/Admin_Inactive_Students.png" alt="Inactive Students" height="600" width="600" />
