@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<div container>
    <h2>Administrator Home</h2>
    <h2>@DateTime.Now.ToString(@"MMM d yyyy HH:mm:ss")</h2>
    <img src="~/image/dayattendance.png" alt="Day's attendance" />
    <img src="~/image/Admin_Landing.png" alt="Admin Landing" height="700" width="700" />
</div>