@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<div>
        <h2>Administrator Home</h2>
        <img src="~/image/Admin_Landing.png" alt="Admin Landing" height="700" width="700" />
</div>