@{
    ViewData["Title"] = "Sign In";
}

<div class="background">
    <br />

    <div class="specialButt">
        <div class="middle">
            <div class="text">John Doe</div>
        </div>
    </div>
    <div class="specialButt">
        <a href="~/Home/Index">
            <img src="~/image/pokemon-6.svg" alt="Avatar" class="image" style="width:100%">
            <img src="~/image/Kiosk_Roster.png" alt="roster" />
            <div class="middle">
                <div class="text">Marry Jane</div>
            </div>
        </a>
    </div>

</div>


